:root {
  --main-font-color: #303030;
  --span-colour: rgb(83, 209, 167);
  --white: #fff;
  --principal-colour: #2b4e72;
  --principal-colour-darker: #1e3c5a;
  --second-colour: #94ba65;
  --second-colour-darker: #81a15a;
  --combo-colour: rgb(241, 165, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--main-font-color);
}

/* global */

.loja-item,
& .desconto-item {
  background-color: var(--white);
  max-width: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;

  & .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    position: relative;

    & .tag,
    & .tag-desconto,
    & .tag-combo {
      background-color: var(--span-colour);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      padding: 0.5rem 0;
      position: absolute;
      top: 0;

      & p {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--white);
      }
    }

    & .tag-desconto {
      background-color: var(--principal-colour);
    }

    & .tag-combo {
      background-color: var(--combo-colour);
    }

    & .card-img img {
      width: 100%;
      height: 100%;
    }

    & .card-infos {
      display: flex;
      flex-flow: column;
      align-items: start;
      font-weight: 700;
      margin-bottom: 2rem;

      & .infos-titulo {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      & .infos-anterior {
        font-size: 1.1rem;
        text-decoration: line-through;
      }

      & .infos-preco {
        font-size: 2.4rem;
        color: var(--second-colour);
      }

      & .infos-desconto {
        font-size: 1.5rem;

        & span {
          color: var(--second-colour);
        }
      }

      & .infos-parcelas {
        font-size: 1.5rem;
        color: var(--second-colour);
      }
    }

    & .card-btn {
      width: 100%;
      height: 5rem;
      border-radius: 2.5rem;
      border: none;
      background-color: var(--second-colour);
      color: var(--white);
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.8s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--second-colour-darker);
      }
    }
  }
}

/* Cabecalho / Header */
header {
  align-items: center;
  width: 100%;
  padding: 2rem 5rem;
  background-color: var(--principal-colour);
  color: var(--white);

  & a {
    text-decoration: none;
    color: var(--white);
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
  }

  & .welcome {
    text-transform: uppercase;
    font-weight: 700;

    & a {
      color: var(--span-colour);
      transition: color 0.3s ease;

      &:hover {
        color: var(--white);
        text-decoration: underline;
      }
    }
  }

  & .contatos-nav {
    display: flex;

    & .contatos-header {
      font-weight: 700;
      background-color: #4e4d4a;
      padding: 2rem;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      & a {
        color: var(--white);
      }
    }

    & nav {
      background-color: var(--second-colour);
      padding: 2rem;
      & ul {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        list-style: none;

        & li {
          font-weight: 700;
          transition: transform 0.3s ease;

          & a {
            color: var(--white);
          }

          &:hover {
            text-decoration: underline;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  /* header search */
  & .header-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    /* logo */

    & .logo-caixa img {
      max-width: 15rem;
      border-radius: 50%;
      border: solid 0.2rem var(--white);
    }

    /* search-bar */

    & .search-bar {
      position: relative;
      margin-right: 2rem;

      & input {
        padding: 2rem 5rem 2rem 3rem;
        border-radius: 9rem 0 0 9rem;
        width: 35vw;
        border: none;
      }

      & button {
        position: absolute;
        transform: translate(-35%, -3%);
        transition: all 0.3s ease;
        background-color: var(--second-colour);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        font-size: 3rem;
        border: none;
        color: var(--white);
        cursor: pointer;

        &:hover {
          background-color: var(--second-colour-darker);
        }
      }
    }

    /* cart / carrinho */

    & .cart {
      display: flex;
      gap: 2rem;

      & .cart-icon {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & i {
          font-size: 5rem;
          position: relative;
        }

        & .icon-count {
          height: 3rem;
          width: 3rem;
          background-color: var(--second-colour);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          transform: translate(0, 80%);
        }
      }

      & .cart-text {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & p {
          font-weight: 700;

          &.total-price {
            font-size: 2rem;
            line-height: 2.4;
          }
        }
      }
    }
  }
}

/* secao menu */
.secao-menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--second-colour);

  & .menu {
    width: 100%;
    padding: 0 7.63rem;
    position: relative;

    & .menu-list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      & .menu-item {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 3rem;
        cursor: pointer;

        &:hover {
          & a {
            color: var(--white);
          }

          & .promocao-list,
          .jogos-list,
          .rpg-list,
          .acessorios-list,
          .puzzle-list {
            display: flex;
          }

          & .jogos-list,
          .rpg-list,
          .acessorios-list,
          .puzzle-list {
            display: flex;
            transform: translateX(-15rem) translateY(3rem);
          }
        }

        & a {
          color: var(--main-font-color);
          text-decoration: none;
          transition: all 0.5s ease;
        }

        & .promocao-list,
        .jogos-list,
        .rpg-list,
        .acessorios-list,
        .puzzle-list {
          transform: translateY(3rem);
          display: none;
          flex-flow: column;
          background-color: var(--white);
          list-style: none;
          border-top: 0.8rem solid var(--principal-colour);
          padding: 2rem 3rem;
          max-width: 32rem;
          width: 100%;
          position: absolute;
          overflow: hidden;
          box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          z-index: 99;

          & h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
          }

          & .line {
            height: 0.1rem;
            width: 100%;
            background-color: var(--principal-colour);
            margin-bottom: 2rem;
          }

          & .promocao-item,
          .jogos-item,
          .rpg-item,
          .acessorios-item,
          .puzzle-item {
            margin-bottom: 1rem;
            width: 100%;
            cursor: pointer;
            text-transform: none;
            transition: all 0.5s ease;

            &:hover {
              color: var(--second-colour);
            }
          }
        }
      }
    }
  }

  & .banner {
    height: 40rem;
    width: 100vw;

    & .carousel {
      position: relative;
      width: 100vw;
      overflow: hidden;
      margin: auto;

      & .carousel-track {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;

        & .banner-img {
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;

          & img {
            width: 100vw;
          }
        }
      }

      & .buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
      }

      & .btn {
        background: rgba(0, 0, 0, 0.6);
        color: white;
        border: none;
        padding: 8px;
        cursor: pointer;
        padding: 2rem;
      }
    }
  }
}

/* seçao loja */
.secao-loja {
  background-image: url("./imgs/lobo-background.png");
  background-color: #d1d1d1;
  background-blend-mode: multiply;
  height: auto;
  width: 100vw;

  & .container-loja {
    padding: 7.63rem 7.63rem;
    display: flex;
    flex-flow: column;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;

    & .secao-lancamentos,
    & .secao-populares,
    & .secao-descontos {
      margin-bottom: 5rem;

      & .caixa-titulo-loja {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        backdrop-filter: blur(5px);

        & h2 {
          color: var(--second-colour);
          text-transform: uppercase;
          font-size: 2.5rem;
        }

        & .line-text {
          height: 0.5rem;
          background-color: var(--principal-colour);
        }
      }

      & .loja-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.5rem;

        & a {
          text-decoration: inherit;
          color: inherit;
        }
      }
    }

    /* pagina de produto */

    & .links {
      display: flex;
      gap: 1rem;
      font-weight: 700;
      color: var(--principal-colour);
      backdrop-filter: blur(5px);
      margin-bottom: 5rem;

      & .link-home,
      & .link-jogos,
      & .link-produto {
        text-decoration: none;
        color: var(--second-colour);

        &:hover {
          text-decoration: underline;
        }
      }

      & .link-produto {
        color: var(--span-colour);
      }
    }

    & .produto {
      display: flex;
      gap: 3rem;
      max-width: 110rem;
      width: 100%;
      background-color: var(--white);
      padding: 3rem;

      & img {
        width: 100%;
      }

      & .caixa-imgs {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & .botoes-links {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 1rem;

          & a {
            text-decoration: none;
            height: 4rem;
            padding: 1rem 2rem;
            border-radius: 0.6rem;
            background-color: var(--second-colour);
            color: var(--white);
            font-weight: 700;
            transition: all ease 0.8s;
            text-transform: uppercase;
            font-size: 1.4rem;

            &:hover {
              background-color: var(--second-colour-darker);
            }
          }
        }

        & .principal-img {
          max-width: 50rem;
          margin-bottom: 2rem;
          border-radius: 0.8rem;
          border: 1px solid var(--second-colour);
          padding: 1rem;
        }

        & .carrossel-caixa-imgs {
          display: flex;
          align-items: center;
          gap: 2rem;

          & .seta {
            width: 4rem;
            height: 4rem;
            background-color: var(--second-colour);
            color: var(--principal-colour-darker);
            font-size: 2.5rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.8rem;
            transition: all ease 0.8s;
            cursor: pointer;

            &:hover {
              background-color: var(--second-colour-darker);
            }
          }

          & .carrossel-imgs {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;

            & img {
              max-width: 7.4rem;
              border: 1px solid var(--second-colour);
              border-radius: 0.8rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/* seção descontos */

.secao-descontos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--principal-colour);

  & .container-descontos {
    padding: 7.63rem 7.63rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;

    & .caixa-texto-desconto {
      position: absolute;
      top: -30px;
      background-color: var(--second-colour-darker);
      width: 50rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: var(--main-font-color) 10px 10px 0;

      & h2 {
        font-size: 2.9rem;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    & .desconto-list {
      display: flex;
      gap: 2.5rem;
      list-style: none;
    }
  }
}

/* newsletter */

.secao-newsletter {
  background-color: var(--second-colour);

  & .container-newsletter {
    padding: 2.63rem 7.63rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;

    & h2 {
      color: var(--white);
      text-transform: uppercase;
    }

    & p {
      color: var(--white);
      font-weight: 700;
      margin-bottom: 2rem;
    }

    & form {
      display: flex;
      gap: 2.5rem;

      & input {
        background-color: var(--second-colour);
        border: 0.2rem solid var(--white);
        border-radius: 0.5rem;
        height: 2rem;
        width: 23.5rem;
        padding: 3rem;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 700;

        &::placeholder {
          color: var(--white);
          font-size: 1.5rem;
          font-weight: 700;
        }
      }

      & button {
        width: 30rem;
        background-color: var(--principal-colour);
        border: none;
        border-radius: 0.5rem;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: all ease-in 0.1s;
        cursor: pointer;

        &:hover {
          background-color: var(--principal-colour-darker);
        }
      }
    }
  }
}

.rodape {
  padding: 3rem 6.13rem;
  color: var(--principal-colour);
  font-weight: 700;

  & h3 {
    text-transform: uppercase;
  }

  & a {
    text-decoration: none;
    color: var(--principal-colour);

    &:hover {
      text-decoration: underline;
    }
  }

  & .container-rodape {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.13rem;

    & .contato-footer {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 4rem;

      & .atendimento {
        display: flex;
        flex-flow: column;
        gap: 2rem;
        max-width: 25.5rem;
        width: 100%;

        & .telefone {
          font-size: 2.5rem;
          font-weight: 700;
        }

        & .textos {
          & a {
            font-size: 1.4rem;
          }

          & p {
            font-size: 1.5rem;
          }
        }
      }

      & .conjunto {
        display: flex;
        align-items: start;
        justify-content: stretch;
        gap: 10rem;

        & .institucional,
        & .informacoes {
          display: flex;
          flex-flow: column;
          align-items: start;
          justify-content: flex-start;
          top: 0;
          gap: 0.8rem;
          text-transform: uppercase;

          & a {
            font-size: 1.4rem;
          }
        }
      }

      & .endereco {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        & .redes {
          display: flex;
          flex-flow: column;
          gap: 1rem;

          & .icones {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }
  }
}
